#!/usr/bin/env python

import json
import urllib2
import socket

response = urllib2.urlopen('http://172.17.42.1:4001/v2/members/')
js = json.loads(response.read())

for j in js['members']:
    if (socket.gethostname() == j['name']):
          print j['id']
