#!/bin/bash

# Simple wrapper script to keep monit happy. This script
# maintains a pid file and provides a start/stop utility
# for the etcd container.

remove_host_from_etcd() {
  local hostid=$(etcd_getIDbyName {{ ansible_hostname }})
{% for host in groups['all'] %}
  curl -X DELETE http://{{ hostvars[host]['ansible_mallard']['ipv4']['address'] }}:4001/v2/members/$hostid || :
{% endfor %}
}

case $1 in
  start)
    (setsid $0 start2 &)
    ;;
  start2)
    $0 stop
    echo $$ > /var/run/etcd.pid
    /usr/bin/docker run --rm=false \
      -p {{ ansible_mallard.ipv4.address }}:4001:4001 \
      -p {{ ansible_mallard.ipv4.address }}:2380:2380 \
      --name="etcd" \
      -v /usr/share/ca-certificates/:/etc/ssl/certs \
      -e ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_mallard.ipv4.address }}:4001" \
      -e ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_mallard.ipv4.address }}:2380" \
      -e ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:4001" \
      -e ETCD_LISTEN_PEER_URLS="http://0.0.0.0:2380" \
      -e ETCD_INITIAL_CLUSTER="{% for h in groups['all'] %}{{ h }}=http://{{ hostvars[h]['ansible_mallard']['ipv4']['address'] }}:2380,{% endfor %}" \
      -e ETCD_INITIAL_CLUSTER_STATE="new" \
      -e ETCD_NAME="{{ ansible_hostname }}" \
      quay.io/coreos/etcd:v2.0.5 
    ;;
  stop)
    /usr/bin/docker stop etcd
    /usr/bin/docker rm etcd
    remove_host_from_etcd
    kill $(cat /var/run/etcd.pid)
    ;;
  *)
    echo "Error, command $1 not found"
    exit 1
    ;;
esac
