set daemon 30
#with start delay 60
set logfile /var/log/monit.log
set idfile /var/lib/monit/id
set statefile /var/lib/monit/state

set eventqueue
  basedir /var/lib/monit/events
  slots 100

set httpd port 2812 and
  use address localhost
  allow localhost

check process docker with pidfile /var/run/docker.pid
  start program "/usr/sbin/service docker start"
  stop program "/usr/sbin/service docker stop"
  depends on tinc_mallard

check process consul with pidfile /var/run/consul.pid
  start program "/usr/sbin/service consul start"
  stop program "/usr/sbin/service consul stop"
  depends on tinc_mallard

check process tinc_mallard with pidfile /var/run/tinc.mallard.pid
  start program "/usr/sbin/service tinc start"
  stop program "/usr/sbin/service tinc stop"

check process swarm-agent pidfile /var/run/swarm-agent.pid
  start program "/usr/sbin/service swarm-agent start"
  stop program "/usr/sbin/service swarm-agent stop"
  depends on consul

check process swarm-manager pidfile /var/run/swarm-manager.pid
  start program "/usr/sbin/service swarm-manager start"
  stop program "/usr/sbin/service swarm-manager stop"
  depends on consul

{% for host in groups['all'] %}
{% if host != ansible_hostname %}
check host {{ host }} with address {{ hostvars[host]['ansible_mallard']['ipv4']['address'] }}
  if failed port 2375 then alert
{% endif %}
{% endfor %}
