#!/bin/bash

# Wrapper script to keep monit happy. This script
# maintains a pid file and provides a start/stop utility
# for the swarm containers.

swarm_agent() {
  case $1 in
    start)
      (setsid $0 agent start2 &)
      ;;
    start2)
      swarm_agent_start
      ;;
    stop)
      swarm_agent_stop
      ;;
    *)
      echo "Error, command $1 not found"
      exit 1
      ;;
  esac
}

swarm_manager() {
  case $1 in
    start)
      (setsid $0 manager start2 &)
      ;;
    start2)
      swarm_manager_start
      ;;
    stop)
      swarm_manager_stop
      ;;
    *)
      echo "Error, command $1 not found"
      exit 1
      ;;
  esac
}

swarm_agent_start() {
  swarm_agent_stop
  echo $$ > /var/run/swarm-agent.pid
  /usr/bin/docker run --rm=false \
    --name="swarm-agent" \
    swarm join \
      --addr={{ ansible_mallard.ipv4.address }}:2375 \
      etcd://{{ ansible_mallard.ipv4.address }}:4001/swarm
}

swarm_agent_stop() {
  /usr/bin/docker stop swarm-agent
  /usr/bin/docker rm swarm-agent
  kill $(cat /var/run/swarm-agent.pid)
}

swarm_manager_start() {
  swarm_agent_stop
  echo $$ > /var/run/swarm-manager.pid
  /usr/bin/docker run --rm=false \
    --name="swarm-manager" \
    -p {{ ansible_mallard.ipv4.address }}:2475:2375 \
    swarm manage \
      etcd://{{ ansible_mallard.ipv4.address }}:4001/swarm
}

swarm_manager_stop() {
  /usr/bin/docker stop swarm-manager
  /usr/bin/docker rm swarm-manager
  kill $(cat /var/run/swarm-manager.pid)
}

case $1 in
  manager)
    shift
    swarm_manager $@
    ;;
  agent)
    shift
    swarm_agent $@
    ;;
  *)
    echo "Error, command $1 not found"
    exit 1
    ;;
esac

