#!/usr/bin/env python
# -*- coding: utf-8 -*-

from __future__ import print_function
import argparse
import sys
from mallard.utils import *
import mallard.list
import mallard.show
import mallard.container
import mallard.swarm
import mallard.consul

def main(argv):
    parser = argparse.ArgumentParser(description='Mallard container deployment')
    subparsers = parser.add_subparsers(help='Available commands', dest="command")

    # Global flags
    parser.add_argument('--full', help='Show more information', action="store_true")

    # Deploy parser
    deploy_parser = subparsers.add_parser('deploy', help='Deploy a container')
    deploy_parser.add_argument('image', help='Specify image')

    # List parser
    list_parser = subparsers.add_parser('list', help='List all containers')

    # Swarm parser
    swarm_parser = subparsers.add_parser('swarm', help='List the swarm')

    # Consul parser
    consul_parser = subparsers.add_parser('consul', help='List consul status')

    # Show parser
    show_parser = subparsers.add_parser('show', help='Show container info by ID or name')
    show_parser.add_argument('id', help='Name or ID')

    args = parser.parse_args()

    if args.command == "list":
        mallard.list.containers(args.full)

    if args.command == "swarm":
        mallard.swarm.list()

    if args.command == "deploy":
        mallard.container.deploy(args.image)

    if args.command == "show":
        mallard.show.container(args.id)

    if args.command == "consul":
        mallard.consul.list()

if __name__ == '__main__':
    sys.exit(main(sys.argv))
