#!/usr/bin/env python
# -*- coding: utf-8 -*-

from __future__ import print_function
import argparse
import sys
from mallard.utils import *
import mallard.list
import mallard.show
import mallard.compose

def main(argv):
    parser = argparse.ArgumentParser(description='Mallard container deployment')
    parser.add_argument('--list', help='List all containers', action="store_true")
    parser.add_argument('--full', help='Show more information', action="store_true")
    parser.add_argument('--show', help='Show container info by ID or name')
    parser.add_argument('--compose', help='Compose command')
    args = parser.parse_args()

    if args.list:
        mallard.list.containers(args.full)

    if args.compose:
        mallard.compose.container(args.compose)

    if args.show:
        mallard.show.container(args.show)

if __name__ == '__main__':
    sys.exit(main(sys.argv))
