#!/usr/bin/env python
# -*- coding: utf-8 -*-

from __future__ import print_function
import datetime
import sys
import subprocess

def container(compose):
    yaml_data = "".join(sys.stdin.readlines())
    fd = open('/tmp/docker-compose.yml', 'w')
    fd.write(yaml_data)
    fd.close()
    subprocess.call(["docker-compose"] + compose.split(" "))
