#!/usr/bin/env python
# -*- coding: utf-8 -*-

from __future__ import print_function
import datetime
import json
from mallard.utils import *

def list():
    print(color("The swarm contains these hosts".ljust(76,"_"),underline=True))
    print("IP".ljust(9," "), end=" ")
    print("CONT".ljust(8," "), end=" ")
    print("IMG".ljust(6," "), end=" ")
    print("MEM".ljust(7," "), end=" ")
    print("DISK".ljust(22," "), end=" ")
    print()
    for s in callconsulapi("/v1/kv/swarm/?recurse"):
        if re.match("^swarm/10.10", s['Key']) is not None:
            host = re.split("/|:", s['Key'])[1]
            h = callapi("/info", host=host, port=2375)
            run = callapi("/containers/json", host=host, port=2375)
            co = "{}/{}".format(len(run), h['Containers'])

            for ds in h['DriverStatus']:
                if ds[0] == 'Data Space Used':
                    disk_used = ds[1]
                if ds[0] == 'Data Space Total':
                    disk_total = ds[1]
            disk = "{}/{}".format(disk_used, disk_total)

            print("{} ({}) ({}) ({}M) ({})".format(
                host,
                co.rjust(6, " "),
                str(h['Images']).rjust(4, " "),
                str(h['MemTotal'] / 1024 / 1024).rjust(4, " "),
                disk.rjust(20, " ")
                ))

